<tr>
  <td><%= movie.id %></td>
  <td><%= link_to(movie.title, movie_path(movie)) %></td>
  <td><%= link_to("编辑", edit_movie_path(movie), class: "btn btn-primary")%>
      <%= link_to("删除", movie_path(movie), method: :delete, data: {:confirm => "Are you sure?"}, class: "btn btn-danger") %>
  </td>
  <td><%= movie.description %></td>
  <td> <%= movie.created_at %></td>
</tr>
